*, *::before, *::after {
    box-sizing: border-box;
}
body {
    background-color: #f4e9d0;
    
}
.title {
    color: #1a1208;
    background-color: #ede0c4;
    width: fit-content;
    height: auto;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid hsl(42, 60%, 66%);
    box-shadow: 2px 4px 5px rgba(0,0,0,.2);;
}
.footer {
    position: bottom;
    background-color: bisque;
    width: auto;
    height: auto;
    padding: 1px;
    border: 1px solid salmon;
}
#footer {
    text-align: center;
    width: fit-content;
    height: fit-content;
}