*, *::before, *::after {
    box-sizing: border-box;
}
/* {
  outline: 2px solid red;
} */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffffff;
    margin: 20px;
}

.title {
    background-color: #ffffff;
    color: #000000;
    border: #000000 solid 5px;
    box-shadow: #000000 5px 5px 0px;
    padding: 2px;
    text-align: center;
    font-size: 1.5em;
}

.list {
    background-color: #ffffff;
    color: #000000;
    border: #000000 solid 5px;
    padding: 25px;
    width: fit-content;
}

.footer {
    margin: 20px 0px 0px 0px;
    background-color: #000000;
    color: #ffffff;
    padding: 1px;
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
}

.recp {
    font-size: 1.25em;
    margin: 20px;
    border: #000000 solid 5px;
    background-color: #ffffff;
}

.recp:link {
    color: #000000;
    text-decoration: none;
}

.recp:visited {
    color: #9d9d9d;
    text-decoration: underline;
}

.recp:hover {
    border: #000000 solid 5px;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;  
    box-shadow: #000000 5px 5px 0px;
}